@font-face {
    font-family: KrasiviyFont;
    src: url(fonts/Sevillana-Regular.ttf);
}

@font-face {
    font-family: EBGaramond1;
    src: url(fonts/EBGaramond1.ttf);
}

@font-face {
    font-family: EBGaramond2;
    src: url(fonts/EBGaramond2.ttf);
}

@font-face {
    font-family: Source1;
    src: url(fonts/Source1.ttf);
}

@font-face {
    font-family: Source2;
    src: url(fonts/Source2.ttf);
}